--extra-index-url=https://dash.alraedah.dev/Docs/packages
dash-snapshots==2.2.0
dash-design-kit==1.6.7
dash==2.0.0
gunicorn==20.0.4
pandas==1.1.4
#plotly==5.0.0
dash-user-analytics
psycopg2-binary==2.8.6
SQLAlchemy==1.3.20
tenacity==6.2.0
python-dateutil
dash-enterprise-auth
dash-extensions
Werkzeug==2.0.0
#add openpyxl
openpyxl
dash-user-analytics